*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #eee;
    font-size: 14px;
}
/* Header */
header {
    width: 100%;
    height: 50px;
    color: #fff;
    background-color: #ab1d1d;
    position: relative;
}
header a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}
#logo a {
    position: absolute;
    left: 100px;
    width: 7%;
    height: 100%;
    font-size: 35px;
    text-align: center;
    line-height: 50px;
    font-family: forte, Arial, sans-serif;
}

#header-nav {
    float: right;
    margin-right: 120px;
}
#header-nav > li {
    display: inline-block;
    line-height: 50px;
}
#header-nav li {
    list-style: none;
}
#header-nav a {
    padding: 17px;
}
#header-nav > li:hover > a {
    background: rgba(183, 57, 57, 0.5);
}

ul.sub-nav-add,
ul.sub-nav-account {
    position: absolute;
    display: none;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);

}
ul.sub-nav-add > li:hover > a,
ul.sub-nav-account > li:hover > a {
    background: rgba(204, 204, 204, 0.5);   
}
#header-nav li:hover ul.sub-nav-add,
#header-nav li:hover ul.sub-nav-account {
    display: block;
}
#header-nav li ul.sub-nav-add a {
    color: #333;
    display: block;
    padding: 0 60px 0 20px;
    line-height: 45px;
}
#header-nav li ul.sub-nav-account a {
    color: #333;
    display: block;
    padding: 0 30px 0 20px;
    border-bottom: 1px solid #ccc;
}
#header-nav li ul.sub-nav-account li:nth-of-type(2) a {
    border-bottom: none;
    color: red;
}


#header-nav .plus-icon1 {
    padding: 2px;
    margin-right: 5px;
    background: #fff;
    color: #ab1d1d;
    border-radius: 10px;
    font-weight: bold;
}
.more-icon {
    font-size: 9px;
    margin-left: 5px;
}
.plus-icon2, .acc-icon {
    margin-right: 12px;
}

/* nav */
nav {
    background: #fff;
    height: 50px;
    width: 100%; 
}
#nav {
    display: inline-block;
    margin-left: 50px;
}
#nav > li {
    display: inline-block;
}
#nav li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}
#nav > li > a {
    line-height: 50px;
    padding: 17px 15px;
}
#nav > li:hover > a {
    background: rgba(0,0,0,.04);
}
#nav li {
    position: relative;
}

#nav .sub-nav {
    display: none;
    position: absolute;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    width: 180px;
    text-align: left;
}
#nav .sub-nav li {
    list-style: none;
    position: relative;
}
#nav .sub-nav a {
    font-size: 13px;
    line-height: 45px;
    display: block;
    padding-left: 20px;
}
#nav li:hover .sub-nav {
    display: block;
}
.sub-nav > li:hover > a {
    background: rgba(0,0,0,.04);
}

.sub-nav li:hover .sub-sub-nav {
    display: block;
}
.ti-dropbox, .ti-shopping-cart, .ti-search,
.ti-truck, .ti-alert, .ti-check,.ti-money {
    margin-right: 16px;
}
.ti-angle-right {
    font-size: 10px;
    margin-left: 40px;
}

.sub-sub-nav > li:hover > a {
    background: rgba(0,0,0,.04);
}
#nav .sub-sub-nav {
    position: absolute;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    background: #fff;
    width: 180px;
    text-align: left;
}
.sub-sub-nav.doanhthu {
    display: none;
    top: 0;
    left: 100%;
}
.sub-sub-nav.donhang {
    display: none;
    top: -10px;
    left: 100%;
}
.ti-bar-chart-alt, .ti-calendar {
    margin-right: 16px;
}

/* content */
.content {
    width: 93%;
    height: 1100px;
    margin: 0 auto;
    background: .eee;
}
.page-header {
    border: 2px solid #eee; 
    background-color: #fafafa;
}
.page-header li {
    list-style: none;
    display: inline-block;
}
.page-header li a {
    text-decoration: none;
    color: #333;
    font-size: 13px;
    line-height: 40px;
}
.page-header span {
    margin: 0 10px;
}

.ti-home {
    margin-left: 20px;
    margin-right: 10px;
}

.filter li {
    list-style: none;
    display: inline-block;
}
.filter a {
    text-decoration: none;
    color: #333;
}
form{
    display: inline-block;
    width: 49%;
    height: 365px;
    margin-top: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4)
}
form:first-of-type{
    margin-right: 18px;
}
.donvi{
    padding: 0 20px;
}
.baohanh{
    height: 510px;
}
.tondau{
    height: 300px;
    margin-bottom: 210px;
}
span.text-danger {
    color: red;
}
.table-input .txtt{
    width: 520px;
    height: 30px;
}
.table-input .danhmuc{
    width: 470px;
    height:35px;
}
.table-input .loai{
    width: 200px;
    height: 30px;
}
.table-input .colspaninline{
    display: inline-block;
    width: 150px;
    height: 30px;
}
.table-input .loai1{
    width: 205px;
    height: 35px;
}
.table-input .nbdvt{
    width: 152px;
    height: 30px;
}
.table-input td{
    padding: 9px 5px 9px 20px;
}
.table-input .no-border input {
    border: 0;
}
table{
    padding-top: 16px;
}
/* .table-input tr:first-of-type{
    padding-top: 30px;
} */
.bao-hanh-ton-dau td{
    padding: 9px 5px 9px 20px;
}
.bao-hanh-ton-dau h4{
    font-size: 20px;
}
.bao-hanh-ton-dau .txtt{
    width: 455px;
    height: 30px;
}
.bao-hanh-ton-dau .txtxx{
    width: 460px;
    height: 35px;
}
.bao-hanh-ton-dau .txttd{
    width: 490px;
    height: 35px;
}
.bao-hanh-ton-dau .txttd1{
    width: 487px;
    height: 30px;
}
.bao-hanh-ton-dau .noidung{
    width: 580px;
    margin-left: 20px;
}
.nd-baohanh{
    padding-top: 20px;
}
select, input, textarea{
    border: 1.5px solid #ccc;
    border-radius: 3px;
}
.ti-settings, .ti-package {
    margin-right: 10px;
}
.button .luu{
    background-color: rgb(14, 169, 14);
    padding: 12px 20px;
    margin: 0;
    color: #fff;
    border: 0;
    border-radius: 2px;
}
.radio1{
   margin: 20px 0 20px 10px;
}
.radio{
    font-size: 25px;
}
.ti-save-alt{
    padding-right: 5px;
}
.radio1 div{
    display: inline-block;
    margin-right: 15px;
}

/* Footer */

footer{
    display: block;
    margin-top: 20px;
    position: relative;
    bottom: 0;
}

footer div{
    clear: both;
    height: 40px;
    background-color: #55573b;
    text-align: center;
    line-height: 40px;
    color: #fff;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 13px;
}
